<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./partials/head") %>
        <title>Blog Page</title>
</head>

<body>
    <%- include("./partials/nav") %>

    <div class="container mt-3" data-bs-theme="dark">
        <form action="/blog/add-new" method="post">
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" name="title" class="form-control" id="title" aria-describedby="title">
            </div>
            <div class="mb-3">
                <label for="body" class="form-label">Body</label>
                <textarea name="body" id="body" class="form-control" placeholder="Write Blog here!"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
            <a href="/" class="btn btn-light">Back</a>
        </form>
    </div>

    <%- include("./partials/script") %>
</body>

</html>